node_modules
.env
.next
npm-debug.log
.tmp
test.log
tsconfig.tsbuildinfo
package-lock.json

# Prisma local migrations / lock
prisma/migrations/
!prisma/migrations/*.sql  # opcional si quieres versionar solo SQL
prisma/migrations/migration_lock.toml

# Local DB data
data/