node_modules
.env
.next
npm-debug.log
.tmp
test.log
tsconfig.tsbuildinfo

# Prisma local migrations / lock
prisma/migrations/*
!prisma/migrations/
!prisma/migrations/**/migration.sql
prisma/migrations/migration_lock.toml

# Local DB data
data/