@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

#kr-popin-button,
.kr-popin-button,
.kr-popin-button-enabled,
.kr-smart-form-modal-button {
  display: none !important;
  visibility: hidden !important;
  pointer-events: none !important;
}
